a.button,
button.button,
.button {
    @include trans;

    background: $link;
    color: $white;
    display: inline-flex;
    font-family: $mainFont;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    padding: 0 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid $link;
    text-decoration: none;

    &:hover{
        background: $linkHover;
        text-decoration: none;
        color: $white;
        padding: 0 40px;
        border: 2px solid $linkHover;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &--white {
        background: $white;
        color: $link;

        &:hover{
            color: $link;
            background: darken($white, 5%);
        }
    }
}