@mixin headerLink() {
    color: $darkGray;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    position: relative;
    text-transform: uppercase;    
}

@mixin headerUnderline {
    &::after {
        @include trans;

        content:'';
        height: 2px;
        background: $mainColor;
        position: absolute;
        bottom: 0;
        width: auto;
        left:0;
        right:100%;
    }

    &:hover {
        color: $mainColor; 

        &::after {
            right:0;
        }
    }
}

.header {

    $h: &;

    position: fixed;

    @include mq(md) {
        position: relative;
    }

    &__hamburguer {
        cursor: pointer;
        width: 25px;
        height: 25px;
        margin: auto;
        position: absolute;
        right: 32px;
        top: 30px;

        span {
            background-color: $mainColor;
            border-radius: 2px;
            content: '';
            display: block;
            width: 100%;
            height: 2px;

            &:nth-child(1) {
                animation:outT 0.6s $easing backwards;
                animation-direction:reverse;
            }
            &:nth-child(2) {
                margin: 7px 0;
                animation:outM 0.6s $easing backwards;
                animation-direction:reverse;
            }
            &:nth-child(3) {
                animation:outBtm 0.6s $easing backwards;
                animation-direction:reverse;
            }
        }

        @include mq(md) {
            display: none;
        }
    }

    &__top {
        border-bottom: 1px solid $lightGray;
        padding: 10px 0;

        @include mq(md) {
            padding: 25px 0;
        }
    }

    &__logo {
        display: inline-flex;
        justify-content: space-between;
        height: 40px;
        position: relative;

        @include mq(md) {
            height: 60px;
        }

        &:after {
            position: absolute;
            right: 40%;
            width: 1px;
            top:0;
            bottom:0;
            background: $mainColor;
            content: '';
        }

        img {
            width: auto;
            height: 100%;
            margin-right: 30px;
        }
    }

    &__actions {
        display: flex;
        align-items: center;

        @include mq(md) {
            position: absolute;
            right: 0;
            bottom: calc(100% + 25px);
            height: 60px;
        }
    }

    &__social {
        margin-right: 40px;
        display: flex;
        
        li {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }

        a {
            color: $mainColor;
            font-size: 21px;
        }
    }

    &__lang {
        margin-right: 40px;
        display: flex;
        
        li {
            &:not(:last-child) {
                margin-right: 10px;
            }

            &.-active {
                a {
                    color: $mainColor;
                    
                    @include headerUnderline;

                    &:after {
                        right: 0;
                    }
                }
            }
        }
        
        a {
            @include headerLink;
            display: block;
            padding-bottom: 5px;
        }
    }

    &__nav {

    }

    &__menu {
        @include mq(md) {
            display: flex;
            width: 100%;
            justify-content: space-around;
        }

        li {

            &.-active {
                a {
                    @include headerUnderline();
                }
            }
            
            a {
                @include headerLink();
                @include headerUnderline();

                @include mq(md) {
                    height: 50px;
                    line-height: 50px;
                    position: relative;
                    display: block;
                }
            }
        }
    }

    &.-open {
        #{$h}__hamburguer {
            span:nth-child(1) {
                animation:inT 0.6s $easing forwards;
            }
            span:nth-child(2) {
                animation:inM 0.6s $easing forwards;
            }
            span:nth-child(3) {
                animation:inBtm 0.6s $easing forwards;
            }
        }

        #{$h}__nav {

        }
    }
}

//hamburguer animations
@keyframes inM{
50%{transform:rotate(0deg);}
100%{transform:rotate(45deg);}
}

@keyframes outM{
50%{transform:rotate(0deg);}
100%{transform:rotate(45deg);}
}

@keyframes inT{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(9px) rotate(0deg);}
100%{transform: translateY(9px) rotate(135deg);}
}

@keyframes outT{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(9px) rotate(0deg);}
100%{transform: translateY(9px) rotate(135deg);}
}

@keyframes inBtm{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(-9px) rotate(0deg);}
100%{transform: translateY(-9px) rotate(135deg);}
}
@keyframes outBtm{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(-9px) rotate(0deg);}
100%{transform: translateY(-9px) rotate(135deg);}
}
