mixin article(article, mode)
    .article
        .article__image
            a(href="#")
                img(src=article.img)
        .article__data
            a(href="#")
                h3.article__title= article.title
            p.article__text= article.summary

            if mode != 'noButton'
                a.button(href="#") Leer más
