mixin article(article)
    .article
        .article__img
            img(src=article.img)
        .article__data
            h3.article__title= article.title
            p.article__text.main-text= article.summary
            a.button(href="#") Leer más
