mixin article(article)
    .article
        .article__image
            a(href="#")
                img(src=article.img)
        .article__data
            a(href="#")
                h3.article__title= article.title
            p.article__text= article.summary
            a.button(href="#") Leer más
