extends _layouts/base

include ./_modules/article/article
include ./_modules/slider/slider

block content
    main.home
        section.home__hero.polygon-bg
            .home__hero__wrapper
                .home__hero__column.home__hero__column--left
                    img(src="/images/home-hero.png")
                .home__hero__column.home__hero__column--right
                    .home__hero__container
                        .home__hero__logo
                            img(src="/images/logo-white.png")
                        h2.home__hero__title Una feria de oportunidades y capacidades del 2 al 4 de Mayo
                        p.home__hero__text Lo invitamos a participar de charlas, exposiciones, intervenciones artísticas, shows musicales, zonas gastronómicas y más...
                        a.button.button--white(href="#") registrarme
                        
        section.home__oportunidad.ripped-border
            .home__oportunidad__row.home__oportunidad__row--top
                .container
                    .row
                        .col-24.col-sm-8.home__oportunidad__container
                            .home__oportunidad__wrapper
                                .home__oportunidad__group
                                    i.fa.fa-calendar
                                    h3.home__oportunidad__title Fecha
                                p.home__oportunidad__text.home__oportunidad__text--blue 02 - 03 - 04 de Mayo 
                        .col-24.col-sm-8.home__oportunidad__container
                            .home__oportunidad__wrapper
                                .home__oportunidad__group
                                    i.fa.fa-map-marker
                                    h3.home__oportunidad__title Lugar
                                p.home__oportunidad__text.home__oportunidad__text--blue Medialuna Monumental de Rancagua 
                                p.home__oportunidad__text Avenida España con German Ibarra, Rancagua
                                p.home__oportunidad__text Región del Libertador Gral. Bernardo O'Higgins
                        .col-24.col-sm-8.text-right                        
                            a.button.home__oportunidad__button(href="#") quiero exponer
                            br
                            br
                            a.button.button--ghost.home__oportunidad__button(href="#") quiero auspiciar
            
            .home__oportunidad__row
                .container
                    .row
                        .col-24.col-sm-12
                            .home__oportunidad__column
                                img(src="/images/home-oportunidad.png")
                        .col-24.col-sm-12
                            .home__oportunidad__column
                                .home__oportunidad__column-wrapper
                                    h2.home__oportunidad__title.section-title.section-title--left Una gran oportunidad
                                    .home__oportunidad__wrapper-group
                                        p.home__oportunidad__wrapper-text Tiene por objetivo mostrar todas las oportunidades y capacidades que ogrece la ciudad de Rancagua a sus habitantes y el mundo.
                                        p.home__oportunidad__wrapper-text Durante tres días de feria, se realizarán diversas actividades de tipo cultural y empresarial: charlas, exposiciones, intervenciones artisticas, shows musicales, zonas gastronomicas y más.
                                        p.home__oportunidad__wrapper-text Invitamos a todos los sectores productivos, de servicios y al público en general, a ser protagonistas de esta feria.
                            
        section.home__quien-participa.polygon-bg
            .container
                .row
                    .col-24
                        h2.home__quien-participa__title.section-title.section-title--white ¿Quién participa?
                .row
                    .col-24
                        .home__quien-participa__image
                            img(src="/images/map.png")
        
        section.home__actividades.ripped-border.ripped-border--gray
            .container
                .row
                    .col-24
                        h2.home__actividades__title.section-title actividades
                        p.home__actividades__text Revisa aquí todas las actividades de FIRAN 2019
                .row
                    each article in site.data.activities
                        .col-24.col-sm-8
                            +article(article, 'noButton')
                    a.home__actividades__button.button(href="#") ver más

        section.home__momentos.ripped-border.ripped-border--bottom
            .container
                .row
                    .col-24.col-sm-10
                        h2.home__momentos__title.section-title.section-title--left Momentos de feria
                        a.home__momentos__link
                            i.fa.fa-instagram
                        p.home__momentos__text Aquí podras encontrar carrusel de fotos de instagram con el hashtag #feriarancagua2019
                    .col-24.col-sm-14
                        +slider('home__momentos__slider')
                            .home__momentos__slide
                                a.home__momentos__image(href="#")
                                    img(src="/images/insta-1.jpg")
                            .home__momentos__slide
                                a.home__momentos__image(href="#")
                                    img(src="/images/insta-2.jpg")
                            .home__momentos__slide
                                a.home__momentos__image(href="#")
                                    img(src="/images/insta-3.jpg")
                            .home__momentos__slide
                                a.home__momentos__image(href="#")
                                    img(src="/images/insta-4.jpg")
                            .home__momentos__slide
                                a.home__momentos__image(href="#")
                                    img(src="/images/insta-5.jpg")
                            .home__momentos__slide
                                a.home__momentos__image(href="#")
                                    img(src="/images/insta-6.jpg")
                            .home__momentos__slide
                                a.home__momentos__image(href="#")
                                    img(src="/images/insta-7.jpg")
                            .home__momentos__slide
                                a.home__momentos__image(href="#")
                                    img(src="/images/insta-8.jpg")

                .row
                    .col-24.col-sm-4.offset-sm-6.home__momentos__column
                        a.home__momentos__group(target="_blank", href="https://www.instagram.com/firan2019/")
                            i.fa.fa-instagram
                            p.home__momentos__red @firan2019
                    .col-24.col-sm-4.home__momentos__column
                        a.home__momentos__group(target="_blank", href="https://www.facebook.com/FeriaRancagua2019/")
                            i.fa.fa-facebook-square
                            p.home__momentos__red /Feriarancagua
                    .col-24.col-sm-4.home__momentos__column
                        a.home__momentos__group(target="_blank", href="https://twitter.com/feriarancagua")
                            i.fa.fa-twitter
                            p.home__momentos__red @feriarancagua
        
        section.home__noticias.polygon-bg
            .container
                .row
                    .col-24
                        h2.home__noticias__title.section-title.section-title--white noticias
                .row
                    each article in site.data.news
                        .col-24.col-sm-8
                            +article(article)
                    a.home__actividades__button.button.button--white(href="#") ver más
